<div class="grid-container">
    <div class="grid-child purple">
        <iframe [src]="iFrameUrl" style="height: 80%; width: 80%; z-index: 20; position: absolute; background: white;"
            id="1" #1>
        </iframe>
    </div>
    <div class="grid-child green">
        <iframe [src]="iFrameUrl2" style="height: 80%; width: 80%; z-index: 20; position: absolute; background: white;"
            id="2" #2></iframe>
    </div>
    <div class="sub_div" [hidden]="!isGameFinished">
        <h2>{{endMessage}}</h2>
        <button (click)="onReset()">reset game</button>
    </div>
</div>